
.sprigatitoBG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:grey;
    color: #1319cf;
    background-image: url('../img/sprigatito.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.paintBG {
    background-image: url('../img/paint.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 576px;
    height: 432px;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.topMargin{
    margin-top: 30px;
}
.cornerLogo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 100px;
    height: 100px;
}