.Titulo{
    text-align: center;
    font-family: sans-serif;
}
body{

    background: linear-gradient(#17b978, #086972);
    min-height: 100vh;
    color: white;
}

.logo{

    display: block;
    margin: 0 auto;
    width: 30px;
}

.lista-ordenada{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.tabla-datos{
    margin-left: auto;
    margin-right: auto;

}
.nose{
    border:1px solid black;
    padding: 5px;
    width: 180px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.si{
    border:1px solid black;
    padding: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

a{
    color: #1f4287;
}
.sprigatitoBG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:grey;
    color: #1319cf;
    background-image: url('../img/sprigatito.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.paintBG {
    background-image: url('../img/paint.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 576px;
    height: 432px;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.topMargin{
    margin-top: 30px;
}
.cornerLogo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 100px;
    height: 100px;
}